*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background:#1c829f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background:#b8c5d6;
    padding: 20px;
    border-radius: 10px;
}


.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(31, 31, 198, 0.256),5px 5px 15px rgba(151, 165, 44, 0.887);
    background: transparent;
    font-size: 20px;
    color:#b94a4a;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex:1;
    font-size:45px;
    box-shadow:none;
}

form input.equal{
    width: 145px;
}

form input.operator{
    color:rgb(7, 153, 231);
}
